@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.UserRecipe>

@if(@Model.Any())
{
   <p>Favorite Recipes</p>
  <ul>
  @foreach(var join in Model)
  {
    <div class="d-flex">
    <li>@Html.ActionLink(@join.Recipe.Name, "Details", new { id = @join.Recipe.RecipeId})</li>
    @using (Html.BeginForm("DeleteFavorite", "Recipes"))
    {
      @Html.Hidden("joinId", @join.UserRecipeId)
      <input type="submit" value="X" class="btn btn-danger btn-tiny"/>
    }
    </div>
  }
  </ul>
  
}
else
{
<p>no favorites yet.</p>
}